<div id='home-background'>
    <div id="search-form-container">
        <form id='search-form' action="/artist-search" method="GET">
            <input id="search-input" name="name" type="text" /><br>
            <button class='search-btn' type="submit">Search for an Artist</button>
        </form>
    </div>
</div>